body {
	margin: 0;
	background-color: #333;
	font: 12px sans-serif;
}

td {
	vertical-align: top;
}

img {
	border: 3px solid #444;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted #666;
}

a:hover {
	background-color: #444;
}

.legend {
	white-space: nowrap;
	line-height: 1.5;
}

.header, .header a {
	color: #fff;
	font-size: 20px;
}

.acronym {
	color: #f66;
}

.orange, .orange a {
	color: #c63;
}

.yellow, .yellow a {
	color: #fc3;
}

.blue, .blue a {
	color: #75f;
}

.grey, .grey a {
	color: #999;
}

.indent{
	margin-left: 15px;
}
